- provide(:title, @title)
%h1 #{@title}
= form_with url: users_path, method: 'get', data: {remote: false} do
  %p
    =text_field_tag :search, params[:search]
    =submit_tag 'Search', name: nil
= paginate @users
%ul.users
  - @users.each do |user|
    = render user
= paginate @users
